.Forecast {
    background-color: #e4e4e4;
    color: #898989;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.Forecast .Forecast__all {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Forecast a {
    color: #898989;
    font-size: large;
}

.Forecast h1 {
    font-weight: 100;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
    .Forecast {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .Forecast .Forecast__all {
        width: 90%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
    .Forecast {
        height: auto;
    }
}

