.Weather {
    height: 100%;
    background-color: #18558c;
    color: #517daa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.Weather, .Weather button {
    text-shadow: 0px 1.1px 0.5px rgb(255 255 255 / 50%), 0px -1.5px 1px rgb(9 47 81 / 50%);
}

.Weather .Weather__description {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Weather .Weather__description h1 {
    font-weight: normal;
}

.Weather .Weather__icon i {
    font-size: 100px;
}

.Weather .Weather__icon span {
    font-size: 100px;
    margin-left: 1rem;
}

.Weather a {
    font-size: large;
    color: #517daa;
}

.Weather .Weather__language {
    display: flex;
    align-items: center;
}

.Weather .Weather__language div button {
    color: #517daa;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.Weather .Weather__language div button.active {
    text-decoration: underline;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 680px) {
    .Weather {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .Weather .Weather__icon i {
        font-size: 80px;
    }

    .Weather .Weather__icon span {
        font-size: 60px;
        margin-left: 0.5rem;
        display: block;
    }
    .Weather .Weather__description p span {
        display: block;
    }
    .Weather .Weather__language {
        justify-content: center;
    }
}