.SingleForecast {
    display: flex;
    width: 25%;
    align-items: center;
}

.SingleForecast .SingleForecast__icon i {
    font-size: 30px;
    margin-right: 0.5rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
    .SingleForecast {
        width: 33%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
    .SingleForecast {
        width: 100%;
    }
}