.App {
  height: 100vh;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App {
    min-height: 100vh;
  }
}